.table1{
    width: 100%; 
    border-collapse: collapse; 
    border: 1px solid;
    /* margin-bottom: 30px;
    margin-top: 30px; */
    margin: 30px;
    padding: 0;
}


.line1{
    background: #fd6262;
    text-align: left;
}

.th1{
    width: 25%
}

.th2{
    width: 15%
}

.th3{
    width: 40%
}

.th4{
    width: 20%;
}

.grey{
    background: #9e9e9e26;
}

.table2{
    width: 100%; 
    border-collapse: collapse; 
    border: 1px solid;
    /* margin-bottom: 30px;
    margin-top: 30px; */
    margin: 30px;
    padding: 0;
}

.table3{
    width: 100%; 
    border-collapse: collapse; 
    border: 1px solid;
    /* margin-bottom: 30px;
    margin-top: 30px; */
    margin: 30px;
    padding: 0;   
}

.line2{
    background: #0aab5d;
    text-align: left; 
}

.line3{
    background: #1472c4;
    text-align: left;    
}

.th5{
width:30% ;
}

.th6{
    width:15% ;   
}

.th7{
    width:15% ;   
}

.th8{
    width:20% ;  
}

.th9{
    width:20% ;    
}

.th10{
    width:20% ;    
}

.th11{
    width:40% ;    
}

.th12{
    width:30% ;    
}

.th13{
    width:10% ;    
}